<p>
  <strong>Name:</strong>
  <%= @diagram.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagram.description %>
</p>

<% @items = @diagram.items %>
<%= render template: "items/index" %>

<%= link_to 'Edit', edit_diagram_path(@diagram), :class => 'btn btn-default' %>
<%= link_to 'Back', diagrams_path, :class => 'btn btn-default' %>
