<%= form_for [@diagram, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_field :text , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :position, :value => "center", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :type_action %>
    <%= f.select :type_action, options_for_select(Item.type_actions), class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :parent %>
    <%= f.select :parent_id, options_from_collection_for_select(@diagram.items, "id", "name"), class: "form-control"%>
  </div>

  <div class="form-group" style="display:none;">
    <%= f.label :false %>
    <%= f.select :false_id, options_from_collection_for_select(@diagram.items, "id", "name"), class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :true, "Next" %>
    <%= f.select :true_id, options_from_collection_for_select(@diagram.items, "id", "name"), class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Send", :class => 'btn btn-default' %>
  </div>
<% end %>
