<%= form_for [@diagram, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instruction %><br>
    <%= f.check_box :instruction %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :printer %><br>
    <%= f.check_box :printer %>
  </div>
  <div class="field">
    <%= f.label :allocator %><br>
    <%= f.text_field :allocator %>
  </div>
  <div class="field">
    <%= f.label :assigned_to %><br>
    <%= f.text_field :assigned_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
