<%= form_for [@diagram, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :instruction %>
    <%= f.check_box :instruction , class: "checkbox"%>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :printer %>
    <%= f.check_box :printer , class: "checkbox"%>
  </div>
  <div class="form-group">
    <%= f.label :allocator %>
    <%= f.text_field :allocator , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :assigned_to %>
    <%= f.text_field :assigned_to , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "Send", :class => 'btn btn-default' %>
  </div>
<% end %>
