<table class="table table-bordered table-striped" id="items">
  <thead>
    <tr>
      <th>Instruction</th>
      <th>Description</th>
      <th>Printer</th>
      <th>Allocator</th>
      <th>Assigned to</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr data-item-id=<%= "#{item.id}" %> class="item">
        <td><%= item.instruction %></td>
        <td><%= item.description %></td>
        <td><%= item.printer %></td>
        <td><%= item.allocator %></td>
        <td><%= item.assigned_to %></td>
        <td><%= item.position %></td>
        <td><%= item.position %></td>
        <td><%= link_to 'Show', diagram_item_path(@diagram, item), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_diagram_item_path(@diagram, item), :class => 'btn btn-success'%></td>
        <td><%= link_to 'Destroy', diagram_item_path(@diagram, item), :class => 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_diagram_item_path(@diagram), :class => 'btn btn-default' %>
