<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>



<%= link_to 'Edit', edit_diagram_item_path(@diagram, @item), :class => 'btn btn-default' %>
<%= link_to 'Back', diagram_path(@diagram), :class => 'btn btn-default' %>
