<p id="notice"><%= notice %></p>

<p>
  <strong>Instruction:</strong>
  <%= @item.instruction %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Printer:</strong>
  <%= @item.printer %>
</p>

<p>
  <strong>Allocator:</strong>
  <%= @item.allocator %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @item.assigned_to %>
</p>

<%= link_to 'Edit', edit_creator_diagram_item_path(@diagram, @item) %> |
<%= link_to 'Back', creator_diagram_path(@diagram) %>
