<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Type Action:</strong>
  <%= @item.type_action %>
</p>

<p>
  <strong>Position:</strong>
  <%= @item.position %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @item.parent.name if @item.parent %>
</p>


<%= debug @item.position.to_s%>

<%= link_to 'Edit', edit_diagram_item_path(@diagram, @item) %> |
<%= link_to 'Back', diagram_path(@diagram) %>
